﻿* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body main .left-content {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 20px;
}

body main .left-content .menu-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
}

body main .left-content .menu-items-container .menu-item {
  width: 285px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 22px;
  padding: 12px;
  padding-left: 22px;
  height: 24px;
  transition: all 1s;
}
body main .left-content .menu-items-container .menu-item:hover {
  background: rgba(143, 5, 20, 0.4);
}

body main .left-content .menu-items-container .menu-item svg {
  height: 40px;
  width: 55px;
}

body main .left-content .menu-items-container .menu-item:hover {
}

body main .left-content .menu-items-container .menu-item:hover a {
  color: black;
}

body main .left-content .menu-items-container .menu-item:hover svg .svg-color {
  fill: white;
  stroke: rgba(143, 5, 20, 0.8);
}

body main .left-content .menu-items-container .menu-item:hover {
  background: rgba(143, 5, 20, 0.4);
}

body main .left-content .menu-items-container .menu-item svg {
  height: 40px;
  width: 55px;
}

body main .left-content .menu-items-container .menu-item:hover {
}

body main .left-content .menu-items-container .menu-item:hover a {
  color: black;
}

body main .left-content .menu-items-container .menu-item:hover svg .svg-color {
  fill: white;
  stroke: rgba(143, 5, 20, 0.8);
}

body main .menu-item {
  cursor: pointer;
}

body main .left-content .menu-items-container .menu-item a {
  font-size: 1.5em;
  font-family: "Open sans";
  font-weight: 600;
  color: black;
  margin-left: 8px;
  text-decoration: none;
  font-size: 24px;
}

body main .left-content .menu-items-container .menu-item-icon .icon {
  fill: rgba(143, 5, 20, 0.8);
}

body main .left-content .menu-items-container .menu-item a:hover {
  color: rgba(143, 5, 20, 0.8);
}

body main .left-content .menu-items-container .menu-item-icon .icon {
  fill: rgba(143, 5, 20, 0.8);
}
body main .center-content {
  flex: 2;
  height: 100%;
  border-left: solid 1px rgba(143, 5, 20, 0.2);
  border-right: solid 1px rgba(143, 5, 20, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

body main .center-content .profile-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
body main .center-content form .profile-infos #save-button {
  width: 200px;
  height: 39px;
  border: none;
  border-radius: 10px;
  color: white;
  background: rgba(143, 5, 20, 0.8);
  font-size: 17px;
  font-family: "Open sans";
  font-weight: 600;
}

body main .center-content .input-border {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 25px;
}

body main .center-content .input-border label {
  font-size: 0.9rem;
  font-family: "Poppins", light;
  font-weight: 300;
  margin-bottom: 3px;
}

body main .center-content .input-border input {
  height: 27px;
  border-radius: 5px;
  border: solid 1px #c9c9c9;
  padding: 5px;
  font-family: "Poppins", light;
}

body main .profile-cover {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

body main .profile-cover .user-image {
  border: solid 1px rgba(143, 5, 20, 0.8);
  border-radius: 100px;
  padding: 10px;
  margin-top: 34px;
}

body main .profile-cover .user-image figure {
}
body main .profile-cover .user-image figure label img {
  height: 170px;
  width: 173px;
  border-radius: 267px;
  object-fit: cover;
}

body main .right-content {
  height: 100%;
  flex: 2;
}
