﻿@model SocialMedia.Models.User

    <head>
        <link type="text/css" rel="stylesheet" href="~/css/UserProfile.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap"
              rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

        <script>
            function submitImage() {
                document.forms['user-image'].submit()
            }
        </script>
    </head>
<body>
    <main>
        <div class="left-content">
            <div class="menu-items-container">
                <div class="menu-item">
                    <a asp-action="" asp-controller="">Logout</a>

                </div>
                <div class="menu-item">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /><rect fill="none" height="24" width="24" /></g><g class="svg-color"><path d="M19,9.3V5c0-0.55-0.45-1-1-1h-1c-0.55,0-1,0.45-1,1v1.6l-3.33-3c-0.38-0.34-0.96-0.34-1.34,0l-8.36,7.53 C2.63,11.43,2.84,12,3.3,12H5v7c0,0.55,0.45,1,1,1h3c0.55,0,1-0.45,1-1v-5h4v5c0,0.55,0.45,1,1,1h3c0.55,0,1-0.45,1-1v-7h1.7 c0.46,0,0.68-0.57,0.33-0.87L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z" /></g></svg>
                    <a asp-action="HomePage" asp-controller="HomePage">Página inicial</a>

                </div>


                <div class="menu-item">

                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24" /><g class="svg-color"><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,17c0,0.55-0.45,1-1,1H7c-0.55,0-1-0.45-1-1l0-0.61 c0-1.18,0.68-2.26,1.76-2.73C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C2,12.1,2.9,13,4,13z M5.13,14.1C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43L0,17 c0,0.55,0.45,1,1,1l3.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1 c0.4,0.68,0.63,1.46,0.63,2.29V18l3.5,0c0.55,0,1-0.45,1-1L24,16.43z M12,6c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3s-3-1.34-3-3 C9,7.34,10.34,6,12,6z" /></g></svg>
                    <a asp-controller="Grupo" asp-action="">Grupos</a>

                </div>

                <div class="menu-item">

                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24" /><g class="svg-color"><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,17c0,0.55-0.45,1-1,1H7c-0.55,0-1-0.45-1-1l0-0.61 c0-1.18,0.68-2.26,1.76-2.73C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C2,12.1,2.9,13,4,13z M5.13,14.1C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43L0,17 c0,0.55,0.45,1,1,1l3.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1 c0.4,0.68,0.63,1.46,0.63,2.29V18l3.5,0c0.55,0,1-0.45,1-1L24,16.43z M12,6c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3s-3-1.34-3-3 C9,7.34,10.34,6,12,6z" /></g></svg>
                    <a asp-controller="Grupo" asp-action="mygroups">Meus Grupos</a>

                </div>
            </div>
         </div>


            <div class="center-content">

                <section class="profile-cover">
                    <form name="user-image" enctype="multipart/form-data" asp-action="SaveUserImage" asp-controller="User">
                        <div class="user-image">
                            <input type="file" style="display:none;" id="imageFile" onchange="submitImage();" name="file" />
                            <figure>
                                <label for="imageFile">

                                    <img src="~/UserImages/@ViewBag.image" alt="" />
                                </label>
                            </figure>
                        </div>
                    </form>

                </section>
                <form style="width: 100%;" asp-action="UpdateUser" asp-controller="User">
                    <section class="profile-infos">
                        <div class="input-border">
                            <label>Nome</label>
                            <input type="text" value=@ViewBag.name name="name" />
                        </div>
                        <div class="input-border">
                            <label>Email</label>
                            <input type="text" value=@ViewBag.email name="email" />
                        </div>
                        <div class="input-border">
                            <label>Data de nascimento</label>
                            <input type="text" value=@ViewBag.bornDate name="bornDate" />
                        </div>
                        <div class="input-border">
                            <label>Cpf</label>
                            <input type="text" value=@ViewBag.cpf name="cpf" />
                        </div>
                        <div class="input-border">
                            <label>Telefone</label>
                            <input type="text" value=@ViewBag.phone name="phone" />
                        </div>

                        <div class="input-border">
                            <label>Estado</label>
                            <input type="text" value=@ViewBag.state name="state" />
                        </div>
                        <div class="input-border">
                            <label>Cidade</label>
                            <input type="text" value=@ViewBag.city name="city" />
                        </div>
                        <div class="input-border">
                            <label>Senha</label>
                            <input type="password" value=@ViewBag.pass name="pass" />
                        </div>
                        <div style="        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-left: 130px;
">
                            <button class="action-button" id="save-button" type="submit">
                                Salvar
                            </button>

                        </div>
                        <form asp-action="DeleteUser" asp-route-id="@ViewBag.id">
                            <button type="submit" class="delete-button pointer" style="margin-top: -38px; margin-left: 313px;">Excluir Conta</button>
                        </form>


                    </section>
                </form>

            
            
            



            </div>
            <div class="right-content" style="flex:2;">

            </div>
    </main>

</body>

<style>
    .pointer {
        cursor: pointer
    }
    .delete-button {
        padding: 5px;
        width: 200px;
        height: 39px;
        border: none;
        border-radius: 10px;
        color: white;
        background: rgba(143,5,20, 0.8);
        font-size: 17px;
        font-family: 'Open sans';
        font-weight: 600;
    }
</style>

