﻿@using SocialMedia.Models;
@using Microsoft.AspNetCore.Http;
@{
    List<InscricoesGrupos> subscriptions = ViewBag.subscriptions;


}

<!DOCTYPE html>
<html>

<head>
    <title>Social Media</title>

    <link type="text/css" rel="stylesheet" href="~/css/myGroups.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <main>
        <div class="left-content">
            <div class="menu-items-container">
                <div class="menu-item">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /><rect fill="none" height="24" width="24" /></g><g class="svg-color"><path d="M19,9.3V5c0-0.55-0.45-1-1-1h-1c-0.55,0-1,0.45-1,1v1.6l-3.33-3c-0.38-0.34-0.96-0.34-1.34,0l-8.36,7.53 C2.63,11.43,2.84,12,3.3,12H5v7c0,0.55,0.45,1,1,1h3c0.55,0,1-0.45,1-1v-5h4v5c0,0.55,0.45,1,1,1h3c0.55,0,1-0.45,1-1v-7h1.7 c0.46,0,0.68-0.57,0.33-0.87L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z" /></g></svg>
                    <a asp-action="HomePage" asp-controller="HomePage">Página inicial</a>

                </div>

                <div class="menu-item">

                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none" /><path class="svg-color" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" /></svg>
                    <a asp-action="UserProfile" asp-controller="User">Meu perfil</a>

                </div>
                <div class="menu-item">

                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24" /><g class="svg-color"><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,17c0,0.55-0.45,1-1,1H7c-0.55,0-1-0.45-1-1l0-0.61 c0-1.18,0.68-2.26,1.76-2.73C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C2,12.1,2.9,13,4,13z M5.13,14.1C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43L0,17 c0,0.55,0.45,1,1,1l3.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1 c0.4,0.68,0.63,1.46,0.63,2.29V18l3.5,0c0.55,0,1-0.45,1-1L24,16.43z M12,6c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3s-3-1.34-3-3 C9,7.34,10.34,6,12,6z" /></g></svg>
                    <a asp-controller="Grupo" asp-action="">Grupos</a>

                </div>

                <div class="menu-item">

                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24" /><g class="svg-color"><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,17c0,0.55-0.45,1-1,1H7c-0.55,0-1-0.45-1-1l0-0.61 c0-1.18,0.68-2.26,1.76-2.73C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C2,12.1,2.9,13,4,13z M5.13,14.1C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43L0,17 c0,0.55,0.45,1,1,1l3.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2 C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1 c0.4,0.68,0.63,1.46,0.63,2.29V18l3.5,0c0.55,0,1-0.45,1-1L24,16.43z M12,6c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3s-3-1.34-3-3 C9,7.34,10.34,6,12,6z" /></g></svg>
                    <a asp-controller="Grupo" asp-action="mygroups">Meus Grupos</a>

                </div>
            </div>


        </div>

        <div class="center-content">
            <div class="list-container">
                @foreach (InscricoesGrupos inscricoesGrupos in subscriptions)
                {
                    <h2>@inscricoesGrupos.grupo.Nome</h2>
                    <ul>
                        <li>@inscricoesGrupos.user.name</li>
                        @{
                           
                            if (inscricoesGrupos.status != "accept" && inscricoesGrupos.status != "rejected")
                            {


                                <div class="list-actions">
                                        <a asp-route-id="@inscricoesGrupos.Id" asp-action="acceptSubscription">Aceitar</a> <a asp-route-id="@inscricoesGrupos.Id" asp-action="rejectedSubscription">Rejeitar</a>
                                </div>

                            }
                            else if (inscricoesGrupos.status.Equals("rejected"))
                            {

                                <div class="list-actions" >Rejeitado</div>
                            }
                            else if (inscricoesGrupos.status.Equals("accept"))
                            {
                                <div class="list-actions">Aceito</div>
                            }
                        }
                    </ul>


                            }

                    </div>
        </div>
        <div class="right-content">



        </div>
    </main>
</body>


</html>
<script>

    var url = "http://servicodados.ibge.gov.br/api/v3/noticias/?qtd=100";




    fetch(url, { method: "GET" })
        .then(response => response.json())
        .then(json => {








            for (i = 0; i < 10; i++) {
                let number = Math.floor(Math.random() * 100)
                let mainDiv = document.createElement('div')

                mainDiv.className = "small-releases"


                let newDiv = document.createElement('div')
                newDiv.className = "photo-and-link"


                var h3 = document.createElement("h3");
                var obj = $.parseJSON(json.items[number].imagens)


                var a = document.createElement("a");
                var image = document.createElement("img");

                newDiv.append(a,image)

                image.src = "https://agenciadenoticias.ibge.gov.br/" + obj.image_intro;

                h3.innerHTML = json.items[number].titulo
                a.innerHTML = json.items[number].introducao

                a.href = json.items[number].link

                mainDiv.append(h3, newDiv)

                $(".right-content").append(mainDiv)




            }
        })
        .catch(error => console.log(error));
</script>